<!DOCTYPE html>
<html>
    <head>
        <title>Gifting Home Page</title>
        <link rel='stylesheet' href='/css/app.css'>
    </head>
    <body>
        <header>
            <h1>Give a Gift!</h1>
        </header>

        <div id="container">
            
        </div>

        <footer>
            <nav>
                <a href="/users/signup">Sign Up</a>
                <a href="/users/login">Log In</a>
                <a href="/crops">Global Crop Page</a>
                <a href="/users">Take me to HomePage</a>
            </nav>
        </footer>
    </body>
</html>