body {
    font-family: Helvetica, Arial, Sans-Serif;
    display: flex;
    flex-direction: column;
    background-image: url("https://i.redd.it/amfzanxbvw621.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    border: 2px solid black;
    background: #415c57;
    border-radius: 6px;
    padding: 4px 10px;
    margin: 5px 5px 10px 10px;
}

header {
    background-color: #625261AA;
    margin: 50px;
    display: flex;
}
footer {
    margin: 30px;
}

#container {
    width: 400px;
    height: 400px;
}

.crop {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    list-style-type: none;
    padding: 0;
    border: 3px solid #89beb3;
    border-radius: 10px;
}

li {
    list-style-type: none;
    padding: 1px;
    margin: 10px;
}

#profile_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 50px;
    
}

img {
    height: 150px;
    width: 180px;
}

.friends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#gifting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
#farm {
    width: 30%;
}
#userInfo {
    width: 30%;
    align-items: left;

}

#cropWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 4px solid rgb(9, 35, 74);
}

#userName {
    width: 60%;
    font-size: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 80px;
    
}

#middle{
    width: 10%;
}

h4 {
    margin: 10px auto;
}

.friendsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border: 3px solid white;
    border-radius: 20px;
    background: #606060;
}



