body {
    font-family: Helvetica, Arial, Sans-Serif;
    display: flex;
    flex-direction: column;
    background-image: url("https://i.redd.it/amfzanxbvw621.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    border: 2px solid black;
    background: #415c57;
    border-radius: 6px;
    padding: 4px 10px;
    margin: 5px 5px 10px 10px;
}

header {
    margin: 50px;
}

#profileHeader {
    background-color: #625261AA;
    margin: 50px;
    display: flex;
}

footer {
    margin: 30px;
}

#container {
    width: 400px;
    height: 400px;
}

#leftWrapper {
    background: #94714f;
    border-radius: 10px;
}

#farmWrapper {
    display: flex;
    flex-direction: row;
    background: #94714f;
    border-radius: 10px;
}

#house {
    margin: 10px 0;
}

#crops {
    margin: 20px 20px 20px 0px;
    border: #865840;
}

.crop {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    list-style-type: none;
    padding: 0;
    border: 3px solid #89beb3;
    border-radius: 10px;
}
#cropWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 4px solid #865840;
    width: 200px;
    height: 260px; 
    padding: 0px 0px 5px 2px;
}

#cropWrapper li{
    margin:0px 4px 0 0;
}

#cropWrapper li a{
    margin:4px;
    padding: 10px 0 0 0px;
}



li {
    list-style-type: none;
    padding: 1px;
    margin: 10px;
}

#profile_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 50px;
    
}

img {
    height: 150px;
    width: 180px;
}



#gifting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0 0 30px;
    width: 420px;
    background-color: #4e6c66dd;
    border-radius: 10px;

}
#makeFriend {
    background: #8c280a;
    margin: 5px 10px 10px 10px;
    padding: 5px;
    height: 100px;
    width: 350px;
    border-radius: 10px;
    border: 2px solid white;
}

#makeFriend h3 {
    margin: 0 0 10px 0;

}

.friendsWrapperRight {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 20px;
    background: #606060;
}

.friendsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 20px;
    background: #606060;
}
.friends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.friends a {
    margin: 5px;;
}

#giveGifts {
    background: #8c280a;
    margin: 10px 10px 5px 10px;
    height: 130px;
    width: 350px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid white;
}



#userInfo {
    width: 30%;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}





#userName {
    width: 60%;
    font-size: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 60px;
}

#showUserName {
    width: 60%;
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 60px;
}

#userName h1 {
    margin: 20px;
}


h4 {
    margin: 10px auto;
}



.low {
    background-color: rgb(148, 64, 19);
}

.medium {
    background-color: green;
}

.high {
    background-color: gold;
}

.cropThumbnail {
    height: 50px;
    width: 50px;

}

.game {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    margin-top: 10px
    
}

.gameBoard {
    display: flex;
    border: solid black 3px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

#startGame {
    border: solid orange 3px;
    background: rgba(255, 166, 0, 0.5);
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
}

#clickCounter {
    border: solid green 3px;
    background: rgba(0, 128, 0, 0.5);
    padding: 2px;
    border-radius: 5px;
    margin: 3px;
}



#cropWrapper li{
    margin:0px;
}

.instructions {
    display: none;
}

.instructionsShow {
    border: solid black 3px;
    background: grey;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
}

#newCrop {
    width: 40%;
    align-self: center;
    background-color: #625261AA;
    padding: 15px;
    border: solid black 3px;
    border-radius: 10px;
}

select {
    color: white;
    border: 2px solid black;
    background: #415c57;
    font-size: 14px;
}

input {
    color: white;
    border: 2px solid black;
    background: #415c57;
    font-size: 16px;
    border-radius: 5px;
}

.cropSubmit {
    margin: 10px;
}

.gameMessage {
    font-size: 20px;
}
