<!DOCTYPE html>
<html>
    <head>
        <title>New Crop</title>
        <link rel='stylesheet' href='/css/app.css'>
    </head>
    <body>
        <h1>Edit Crop!</h1>
        <form action="/crops/<%=crop.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value='<%=crop.name%>' required/>
            <input type="submit" name="" value="Submit Crop"/>
        </form>
        <form action='/crops/<%=crop.id%>?_method=DELETE' method='POST'>
            <input type='submit'  value="DELETE"/>
        </form>
    </body>
</html>