<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel='stylesheet' href='/css/app.css'>
    </head>
    <body>
        <header>
            <h1>Welcome to the crop page!</h1>
        </header>
        <ul class = 'crop'>
            <% for(let i = 0; i < crop.length; i++){ %>
                <li>
                    <a href='/crops/<%=crop[i].id%>'><%=crop[i].name%></a>
		        </li>
            <% } %>
        </ul>
        
        <footer>
            <nav>
                <a href="/crops/new">Create New Crop</a>
                <a href="/users">Take me to HomePage</a>
            </nav>
        </footer>
    </body>
</html>