<!DOCTYPE html>
<html>
    <head>
        <title>New Crop</title>
        <link rel='stylesheet' href='/css/app.css'>
    </head>
    <body>
        <header>
            <h1>Create New Crop!!!</h1>
        </header>
        <form action="/crops/new" method="POST">
            Name: <input type="text" name="name" required/>
            UserId: <input type="number" name="userId" required/>
            <input type="submit" name="" value="Submit Crop"/>
        </form>

        <footer>
            <h2>Set quality value 1 - 100</h2>
            <h2>Stretch goal game would go here.</h2>
            <nav>
                <a href="/users/signup">Sign Up</a>
                <a href="/users/login">Log In</a>
                <a href="/crops">Global Crop Page</a>
                <a href="/users">Take me to HomePage</a>
            </nav>
        </footer>
    </body>
</html>