<!DOCTYPE html>
<html>
    <head>
        <title>New Crop</title>
        <link rel='stylesheet' href='/css/app.css'>
    </head>
    <body>
        <header>
            <h1>Create New Crop!!!</h1>
        </header>
        <form action="/crops/new/<%=user.id%>" method="POST" id = 'newCrop'>
            <label for = 'new-crop'>Choose Crop</label>
            <select name = 'name'> 
                <option value='Cauliflower'>Cauliflower</option>
                <option value='Corn'>Corn</option>
                <option value='Grape'>Grape</option>
                <option value='Hops'>Hops</option>
                <option value='Pepper'>Pepper</option>
                <option value='Pumpkin'>Pumpkin</option>
                <option value='Spring_Onion'>Spring Onion</option>
                <option value='Starfruit'>Starfruit</option>
                <option value='Strawberry'>Strawberry</option>
                <option value='Sunflower'>Sunflower</option>
                <option value='Tomato'>Tomato</option>
                <option value='Wheat'>Wheat</option>
                <option value='Burger'>Burger</option>
            </select>
            
            <div class="game">
                <p class = 'gameMessage'>Click Start</p>
                <div class='gameBoard'>
                    
                    <div id="startGame">
                        Start!
                    </div>
                    <div id="clickCounter">
                        Click here!
                    </div>
                </div>
                <div>
                    <div>Quality:</div>
                    <div id="qualityDisplay"></div> 
                </div>
                
            </div>
            <input class='cropSubmit' type="submit" name="" value="Submit Crop"/>
        </form>
        <h3 class = 'instructionsShow'>Click here to see instructions</h3>
        <div class = 'instructions'>
            <h3>Instructions:</h3>
            <p>Choose a crop from the drop down, then click start to set your crop quality.</p>
            <p>Click the green button as many times as you can before the time runs out.</p>
            <p>Crop quality:</p>
            <p>Low - Less than 20 clicks</p>
            <p>Medium - More than 20, but less than 60 clicks</p>
            <p>High - More than 60 clicks</p>
        </div>
        <footer>
            <nav>
                <a href="/users/signup">Sign Up</a>
                <a href="/users/login">Log In</a>
                <a href="/users/profile/<%=user.id%>">My Farm</a>
                <a href="/users">HomePage</a>
            </nav>
        </footer>
        <script src="/script/script.js"></script>
    </body>
</html>