<!DOCTYPE html>
<html>
    <head>
        <title>New Crop</title>
        <link rel='stylesheet' href='/css/app.css'>
    </head>
    <body>
        <header>
            <h1>Create New Crop!!!</h1>
        </header>
        <form action="/crops/new/<%=user.id%>" method="POST" id = 'newCrop'>
            <label for = 'new-crop'>Choose Crop</label>
            <select name = 'name'> 
                <option value='Cauliflower'>Cauliflower</option>
                <option value='Corn'>Corn</option>
                <option value='Grape'>Grape</option>
                <option value='Hops'>Hops</option>
                <option value='Pepper'>Pepper</option>
                <option value='Pumpkin'>Pumpkin</option>
                <option value='Spring_Onion'>Spring Onion</option>
                <option value='Starfruit'>Starfruit</option>
                <option value='Strawberry'>Strawberry</option>
                <option value='Sunflower'>Sunflower</option>
                <option value='Tomato'>Tomato</option>
                <option value='Wheat'>Wheat</option>
                <option value='Burger'>Burger</option>
            </select>
            
            <div class="game">
                <p class = 'gameMessage'>Click Start</p>
                <div class='gameBoard'>
                    
                    <div id="startGame">
                        Click here to start!
                    </div>
                    <div id="clickCounter">
                        Click here to increase quality!
                    </div>
                </div>
                <div>
                    <div>Quality:</div>
                    <div id="qualityDisplay"></div> 
                </div>
                
            </div>
            <input type="submit" name="" value="Submit Crop"/>
        </form>
        
        <footer>
            <nav>
                <a href="/users/signup">Sign Up</a>
                <a href="/users/login">Log In</a>
                <a href="/users/profile/<%=user.id%>">My Farm</a>
                <a href="/users">HomePage</a>
            </nav>
        </footer>
        <script src="/script/script.js"></script>
    </body>
</html>