<!DOCTYPE html>
<html>
    <head>
        <title>New Crop</title>
        <link rel='stylesheet' href='/css/app.css'>
    </head>
    <body>
        <header>
            <h1>Create New Crop!!!</h1>
        </header>
        <form action="/crops/new" method="POST">
            Name: <input type="text" name="name" required/>
            <input type="submit" name="" value="Submit Crop"/>
        </form>
    </body>
</html>