<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel='stylesheet' href='/css/app.css'>
    </head>
    <body>
        <h1>Home Page</h1>
        <nav>
            <a href="/users/signup">Sign Up</a>
            <a href="/users/login">Log In</a>
        </nav>
    </body>
</html>