<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <header>
            <h1>Sign Up</h1>
        </header>
        <form action="/users/signup" method="POST">
            Name: <input type="text" name="name" required maxlength="16"/></br>
            Username: <input type="text" name="username" required maxlength="16"/></br>
            Password: <input type="text" name="password" required maxlength="16"/></br>
            <input type="submit" name="" value="Sign Up"/>
        </form>
        <footer>
            <nav>
                <a href="/users/signup">Sign Up</a>
                <a href="/users/login">Log In</a>
                <a href="/crops">Global Crop Page</a>
                <a href="/users">Take me to HomePage</a>
            </nav>
        </footer>
    </body>
</html>